.list {
  &-ing-wrapper{
    height: 100vh;
    position: relative;
  }
  &.countre{
    height: 70vh;
  }
  &.love{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    .list-stocks{
      margin-top: 10px;
    }
    .list-last{
      &-item{
        &s{
          margin-bottom: 40px;
        }
        &:not(&:last-child){
          margin-bottom: 10px;
        }
      }
      &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  background: $main-plash;
  box-shadow: $shadow;
  border-radius: 10px;
  padding: 34px 25px;
  width: min-content;
  position: absolute;
  max-width: 680px;
  min-width: 500px;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  &-value{
    display: flex;
    align-items: center;
    &__text{
      margin: 0 20px;
    }
    &__button{
      border: none;
      background: transparent;
      font-size: 22px;
    }

  }
  &-ingredient-points {
    position: absolute;
    left: 30px;
    top: 30px;
    display: flex;
    &__item {
      width: 15px;
      height: 15px;
      background-color: $points;
      border-radius: 50%;
      &:not(&:last-child) {
        margin-right: 10px;
      }
      &.active{
        background-color: $points_active ;
      }
    }
  }
  &-content {
    padding-top: 34px;
  }
  &__title {
    color: $text-main-clr;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 102.7%;
    color: $text-n-clr;
  }
  &-search {
    &-input {
      position: relative;
      &__img {
        position: absolute;
        right: 21px;
        top: 50%;
        transform: translateY(-50%);
      }
      &__item {
        border-color: $border-color;
        display: block;
        margin: 0;
        width: 90%;
        padding: 9px 21px;
      }
    }
  }
  &-ings {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    &__item {
      background: rgba(235, 238, 242, 0.37);
      border-radius: 4px;
      padding: 7px 11px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 1s;
      margin: 5px;
    }
  }
  &-stock {
    padding-right: 10px;
    margin-bottom: 30px;
  }
  &-stocks {
    padding-right: 10px;
    padding-bottom: 10px;
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000000;
      border: 2px solid #555555;
    }
    &.countre{
      overflow: auto;
      max-height: max-content;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      border: 1px solid $border-color;
      border-radius: 4px;
      padding: 9px 11px;
      z-index: 1;
      &:not(&:last-child) {
        margin-bottom: 14px;
      }
      &__name {
        margin: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }
      &__delete {
        cursor: pointer;
        z-index: 2;
      }
    }
  }
  &__button {
    width: 80%;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    &.countre{
      position: absolute;
      bottom: 30px;
      width: 40%;
      left: 0;
      right: 0;
      maring: 0 auto;
      &-buttons{

      }
    }

  }
}

.countre-buttons{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  bottom: 5%;

}
.countre__button{
  min-width: 172px;
  margin: 0 !important;
}

.list-ingredient-points.mobil{
  display: none;
}



.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


@media screen and (max-width:1600px){
      .list{
        padding: 15px 20px;
        &-stocks{
          max-height: 200px;
        }
        &-ings{
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
}

@media screen and (max-width:500px){
  .list-ingredient-points{
    display: none;
  }
  .form-content.signin{
    margin-bottom: 20px;
  }
  .list-ingredient-points.mobil{
    display: flex;
    left: 20px;
    top: 15px;
  }

  .list{
    min-width: 80vw;
    &-stocks{
      max-height: 180px;
    }
    &.countre{
      .button{
        padding: 14px 20px;
        min-width: 144px;
      }
    }
    &.love{
      transform: translateY(0);
      top: 5%;
      height: max-content;
    }
    &__title{
      padding-top: 10px;
    }
    &-ingredient-points__item{
      width: 10px;
      height: 10px;
    }
  }
  .container{
    overflow-x: hidden;
  }
  .list-ingredient{
    .list-search-input__item{
      width: 85%;
    }
    .list-stock{
      padding: 0;
    }
  }

  .additional{
    &__password{
      color:$button-clr;
      margin: 0;
      cursor: pointer;
      &:not(&:last-child){
        margin-bottom: 20px;
      }
    }
  }

}
