.images{
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  img{
    height: 50vh;
    width: auto;
  }
}

.sign{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.form{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  &-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    &.signin{
      margin-bottom: 49px;
    }
  }
  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 45px;
    font-weight: 700;
    text-align: center;
    &.signin{
      //margin-bottom: 40px;
    }
  }
  &-wrapper{
    position: relative;
  }
  &-item{
    display: flex;
    flex-direction: column;
    &.signin{
      &:not(&:last-child){
        margin-bottom: 20px;

      }
    }
    &:not(&:last-child){
      margin-bottom: 26px;

    }
    label{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 5px;
      margin-left: 5px;
    }
    &__input{
      width: 370px;
      padding: 10px 0;
      padding-left: 5px;
      font-size: 18px;
    }
  }
  &-inputs{
    margin-bottom: 63px;
    &.signin{
      margin-bottom: 40px;
    }
  }
}

.button{
  color: $button-clr-txt;
  background: $button-clr;
  padding: 14px 34px;
  border: none;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  margin: 0 auto;
  &__signin{
    width: 270px;
  }
}

.input{
  color: black;

  &__item{
    color: $text-n-clr;
    border-radius: 4px;
    border: 1px solid $border-color;
    font-weight: 600;
    font-family: $font-main;
  }
}

.additional{
  &__password{
    color:$button-clr;
    margin: 0;
    cursor: pointer;
    &:not(&:last-child){
      margin-bottom: 5px;
    }
  }
}

.spec-ingr-content{
  display: block;
  &.mobil{
    display: none;
  }
}

@media screen and (max-width: 551px) {
  .spec-ingr-content{
    display: none;
    &.mobil{
      display: block;
    }
  }
  .spec-ingr-content{
    padding-left: 15px;
  }
  .sign{
    grid-template-columns: 1fr;
  }
  .form{
    padding: 0 10px;


    &-wrapper{

    }
    &-item{
      &__input{
        width: 100%;
      }
    }
  }
  .images{
    display: none;
  }
  .form-content{
    padding: 20px 0;
  }
  .spec-ingr-items{
    align-items: center !important;
  }
  .recipes-row__back{
    left: 10px;
    top: 35px;
  }
  .spec-instruction-item__text{
    width: 100% !important;
  }
  .spec-instruction-item__image{
    margin: 0 auto !important;
  }

  .container{
    padding: 0 10px !important;
  }
  .recipes__title{
    padding-top: 10px !important;
    font-size: 24px !important;
    text-align: left !important;
  }
  .recipes-info{
    font-size: 16px !important;
  }
  .recipes-cards{
    display: flex !important;
    align-items: center;
    justify-content: center !important;
  }
  .spec-description{
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  }
  .spec__title{
    margin-top: 20px !important;
  }
  .spec-dop-info{
    margin: 0 !important;
    margin-bottom: 20px !important;
  }
  .spec-description__img{
    width: 400px !important;
    margin: 0 auto !important;
  }
  .spec-instruction-item{
    flex-direction: column;
  }
  .spec-instruction-item__image{
    width: 250px !important;
  }
  .spec-instruction-item{
    align-items: self-start !important;
  }



}


