@import './assets/scss/variables.scss';
@import './assets/scss/index.scss';
@import './assets/scss/sign.scss';
@import './assets/scss/recipes.scss';
@import './assets/scss/specific-recipe.scss';
@import './assets/scss/collect.scss';


@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./assets/fonts/SourceSansPro-Bold.ttf");
  font-weight: 700;
}

h1, h2, h3, h4, h5{
  color: #1E2329;

}


body{
  color: $text-n-clr;
  background-color: $main_bck;
  font-family: $font-main;
  margin: 0;
  padding: 0;
}

.container{
  //width: 1140px;
  padding: 0 75px;
  margin: 0 auto;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

hr{
  border: none;
  height: 1px;
  color: $border-color;
  background-color: $border-color;
}

a{
  text-decoration: none;
  color: inherit;
}

input{
  outline: none;
  border: none;
  border: 1px solid $border-color;
  border-radius: 4px;
}



