//Цвета

$border-color: #C4C4C4; // цвет рамок


$main-color: #FCD535; //Главный цвет сайта
// ОСНОВНЫЕ
//Блоки
  $main_bck: #fff; //цвет заднего фона
  $main-plash: #ffff; //фон блока для сбора

//Блоки
$text-main-clr: #1E2329; //цвет главного текста
$text-n-clr: #212833; //цвет обычного текста
$text-n-clr: #474D57; //цвет второстепенного текста
$button-clr-txt: #212833; //цвет текста кнопки
$button-clr: #FCD535; //цвет кнопки


$item-white-txt: #fff;
// ОСНОВНЫЕ


$shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.25);



//Цвета

$font-main: SourceSansPro


