//Цвета

$border-color: #C4C4C4; // цвет рамок


$main-color: #FCD535; //Главный цвет сайта
// ОСНОВНЫЕ
//Блоки
  $main_bck: #fff; //цвет заднего фона

//Блоки
$text-main-clr: #1E2329; //цвет главного текста
$text-n-clr: #212833; //цвет обычного текста
$text-n-clr: #474D57; //цвет второстепенного текста
$button-clr-txt: #212833; //цвет текста кнопки
$button-clr: #FCD535; //цвет кнопки

$item-one-tl: #1760EB; // цвет  первой команды
$item-two-tl : #EB2400; // цвет второй команды
$item-white-txt: #fff;
// ОСНОВНЫЕ

// Для цветовой полосы на странице команды
$item-line-green: #26DC08;
$item-line-grey: #C4C4C4;
$item-line-red: #EB2400;
// Для цветовой полосы на странице команды




//Цвета

$font-main: SourceSansPro


